@font-face {
  font-family: 'portfolio';
  src: url('./assets/fonts/portfolio.eot');
  src: url('./assets/fonts/portfolio.ttf') format('truetype'),
    url('./assets/fonts/portfolio.woff') format('woff'),
    url('./assets/fonts/portfolio.svg#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
