// sass-lint:disable-all

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-fb:before {
  content: '\e900';
}
.ic-Group:before {
  content: '\e901';
}
.ic-insta:before {
  content: '\e902';
}
.ic-Linkedin:before {
  content: '\e903';
}
.ic-menu:before {
  content: '\e904';
}
