$font-main: 'Heebo', sans-serif;

$font-size-16: 16px;
$line-height-16: 23px;
$letter-spacing-16: -0.01em;

$font-size-18: 18px;
$line-height-18: 26px;
$letter-spacing-18: -0.01em;

$font-size-20: 20px;
$line-height-20: 29px;
$letter-spacing-20: -0.01em;

$font-size-22: 22px;
$line-height-22: 30px;
$letter-spacing-22: -0.01em;

$font-size-24: 24px;
$line-height-24: 34px;
$letter-spacing-24: -0.01em;

$font-size-26: 26px;
$line-height-26: 38px;
$letter-spacing-26: -0.01em;

$font-size-30: 30px;
$line-height-30: 44px;
$letter-spacing-30: -0.01em;

$font-size-32: 32px;
$line-height-32: 40px;
$letter-spacing-32: -0.01em;

$font-size-44: 44px;
$line-height-44: 60px;
$letter-spacing-44: -0.01em;
